
*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color:#e5e0e0;
}




/* botones */

.btn-style{
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

.btn-style::before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to
        right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn-style:hover::before{
    width: 9em;
}




/* navbar */

nav {
    gap: 50px;
    position: relative;
    width: 400px;
    height: 60px;
    background: #222;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-style{
    position: relative;
    margin: 10px 20px;
    width: 100%;
    padding: 10px 10px 10px 20px;
    border-radius: 40px;
    border: none;
    font-size: 14px;
    transition: 0.6s all ease-in-out;
}

.div-nav-style{
    gap: 15px;
}

.search-style:focus-visible{
    outline: none;
    box-shadow: 0px 0px 6px 6px #294488;
}














