
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
}

/* div:hover a:not(:hover){
    opacity: .7;
    transform: scale(.85);
} */

.btn-style{
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

.btn-style::before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to
        right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn-style:hover::before{
    width: 9em;
}